:root{
    --background-color: #0c0f17;
    --main-text-color: #FFFFFF;
    --text: #94A3B8;
    --table-color: #111722;
    --main-btn-color: #1152D4;
    --border-color: #232F48;
    --light-border-color: #334155;
}

.landing-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 50px 0 0 65px; 
    color: var(--main-text-color);
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover;
    z-index: -2;
}

.landing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg, 
        rgba(12, 15, 23, 0.9) 0%, 
        rgba(12, 15, 23, 0.4) 50%, 
        transparent 100%
    );
    z-index: -1;
}

.landing-content {
    max-width: 650px;
    z-index: 1;
}

.landing-content h1 {
    font-size: clamp(2.5rem, 4.5vw, 4.2rem);
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.landing-content p {
    font-size: 1.1rem;
    color: var(--text);
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 500px;
}

.btn-container {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: var(--main-btn-color);
    color: var(--main-text-color);
    padding: 16px 32px;
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}


.btn-primary:hover {
    background: var(--main-btn-color);
    color: var(--main-text-color);
    box-shadow: 0 4px 15px rgba(17, 82, 212, 0.4);
    transform: scale(1.1);
}
