:root{
    --background-color: #0c0f17;
    --main-text-color: #FFFFFF;
    --text: #94A3B8;
    --table-color: #111722;
    --main-btn-color: #1152D4;
    --border-color: #232F48;
    --cancel-btn-color: #D41111;
    --light-border-color: #334155;
}

.login-window{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.login-container{
    background-color: var(--main-text-color);
    border-radius: 20px;
    width: clamp(28rem, 56vw, 47rem);
    height: 80vh;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;
    gap: 12px;
}

.reversed-container{
    flex-direction: row-reverse;
}

.img-container{
    width: 50%;
    height: 100%;
    border-radius: 12px;
}


.background-img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.login-card {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    width: 50%;
    max-width: 400px;
    height: auto;
    min-height: 85%;
    gap: 14px;
}


.login-card h2 {
    color: var(--table-color);
    text-align: center;
}

.login-input:first-of-type {
    margin-top: auto; 
}

.login-input {
    padding: 12px 15px;
    border: 1px solid var(--light-border-color);
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.login-input:focus {
    border-color: #1152D4;
}

.login-button {
    background-color: var(--main-btn-color);
    color: var(--main-text-color);
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #1146ae;
}

.description{
    font-size: 14px;
    text-align: center;
}

.error-message {
    text-align: center;
    color: var(--cancel-btn-color);
    background-color: #FEEEEE;
    padding: 10px;
    border-radius: 4px;
}