:root{
    --background-color: #0c0f17;
    --main-text-color: #FFFFFF;
    --text: #94A3B8;
    --table-color: #111722;
    --main-btn-color: #1152D4;
    --light-border-color: #334155;
    --cancel-btn-color: #D41111;
}

.mini-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.mini-content {
    background-color: var(--background-color);
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 450px;
    border: 1px solid var(--light-border-color);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    color: var(--main-text-color);
}

.mini-content h3 {
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: var(--main-text-color);
}

.mini-content label {
    display: block;
    margin-bottom: 12px;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--text);
}

.mini-content textarea {
    width: 100%;
    height: 120px;
    background-color: var(--table-color);
    border: 1px solid var(--light-border-color);
    border-radius: 8px;
    padding: 12px;
    color: var(--main-text-color);
    resize: none;
    margin-bottom: 1.5rem;
    transition: border-color 0.3s;
}

.mini-content textarea:focus {
    outline: none;
    border-color: #007bff;
}

.actions {
    display: flex;
    gap: 12px;
}

.btn-cancel {
    flex: 1;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--light-border-color);
    color: var(--main-text-color);
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;

    transition: all 0.3s ease;
}

.btn-cancel:hover{
    border-bottom: 2px solid var(--cancel-btn-color);
    color: var(--cancel-btn-color);
}

.btn-send {
    flex: 2;
    background-color: var(--main-btn-color);
    border: none;
    color: var(--main-text-color);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.2s;
}

.btn-send:hover {
    background-color: #1146ae;
    transform: translateY(-2px);
}

.btn-send:disabled {
    background-color: #444;
    cursor: not-allowed;
}