:root{
    --background-color: #0c0f17;
    --main-text-color: #FFFFFF;
    --text: #94A3B8;
    --table-color: #111722;
    --main-btn-color: #1152D4;
    --border-color: #232F48;
    --cancel-btn-color: #D41111;
}

.navbar {
    background-color: #0c0f17;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #161d2b;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-icon{
    background-color: var(--main-btn-color);
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.logo-icon img{
    padding: 11px 10px;
}

.nav-logo {
    color: var(--main-text-color);
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

/* corregir algunos estilos */
.nav-item {
    color: #92a4c9;
    text-decoration: none;
    
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-item:hover {
    color: var(--main-text-color);
}

.nav-item.active {
    color: var(--main-text-color);
    position: relative;
}

.nav-item.active::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--main-btn-color);
}


.nav-notif{
    background-color: var(--table-color);
    border: none;
    padding: 8px 11px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-notif:hover {
    background-color: #ffffff18;
}

.nav-notif img {
    width: 18px;
    transition: filter 0.3s ease;
}

.nav-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-role {
    color: var(--main-btn-color);
    font-size: 11px;
    font-weight: bold;
}

.user-avatar {
    width: 45px;
    height: 45px;
    background-color: #161c26;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--main-btn-color);
    font-size: 0.9rem;
}

.nav-profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: #161c26;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 10px 0;
    min-width: 150px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 10px 20px;
    color: var(--text);
    text-decoration: none;
    border: none;
    background: none;
    text-align: left;
    font-size: 14px;
    width: 100%;
    cursor: pointer;

    transition: all 0.2s ease-out;
}

.dropdown-item:hover {
    background-color: var(--table-color);
    color: var(--main-btn-color); 
}

.nav-auth-buttons{
    display: flex;
    gap: 12px;
}

.btn-login, .btn-register{
    padding: 10px 16px;
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-register{
    background-color: var(--main-btn-color);
    border-radius: 12px;
}

.btn-register:hover {
    background-color: #1146ae;
}

.btn-login:hover {
    color: var(--main-btn-color);
}

