:root{
    --background-color: #0c0f17;
    --main-text-color: #FFFFFF;
    --text: #94A3B8;
    --table-color: #111722;
    --main-btn-color: #1152D4;
    --border-color: #232F48;
    --light-border-color: #334155;
    --cancel-btn-color: #D41111;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.838);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: var(--background-color);
    border-radius: 15px;
    padding: 20px;
    width: 900px;
    height: 100%;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    overflow-y: auto;
    align-items: flex-start;

    &::-webkit-scrollbar {
        display: none;
    }
}

.main-image-container{
    width: 100%;
    max-width: 500px;
    height: 485px;
}

.main-image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: var(--table-color);
}

.grid-image-container {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    overflow-x: auto;
}

.image-thumb {
    width: 80px;
    height: 60px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    opacity: 0.6;
    transition: 0.3s;
}

.image-thumb.active {
    border-color: #007bff;
    opacity: 1;
}

.image-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-right{
    width: 50%;
    padding: 0 0 0 20px;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2{
    font-size: 2rem;
}

.btn-close{
    background-color: #ef444444;
    color: var(--main-text-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

    transition: 0.3s;
}

.btn-close:hover{
    background: var(--cancel-btn-color);
}

.modal-vehicle-price{
    font-size: 1.9rem;
    color: var(--main-btn-color);
    margin: 14px 0 36px 0;
}

.grid-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 14px;
    margin-bottom: 36px;
}

.card-info-container{
    background-color: #161c26;
    padding: 14px 20px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.card-info-container h4{
    font-weight: normal;
    color: var(--text);
    margin-bottom: 4px;
}

.card-info-container p ,.modal-description h4{
    font-weight: 600;
}

.modal-description p{
    margin-top: 14px;
    color: var(--text);
}

.btn-interest {
    width: 100%;
    padding: 15px;
    background-color: var(--main-btn-color); 
    color: var(--main-text-color);
    border: none;
    border-radius: 12px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 71px;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
}

.btn-interest:hover {
    background-color: #1146ae;
}