:root{
    --main-text-color: #FFFFFF;
    --text: #94A3B8;
    --table-color: #111722;
    --main-btn-color: #1152D4;
    --border-color: #232F48;
    --light-border-color: #334155;
    --cancel-btn-color: #D41111;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.838);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background: var(--table-color);
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    max-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.modal-header h2{
    font-size: 2rem;
    color: var(--main-text-color);
}


.btn-close{
    background-color: #ef444444;
    color: var(--main-text-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;

    transition: 0.3s;
}

.btn-close:hover{
    background: var(--cancel-btn-color);
}


.modal-form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    gap: 15px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.form-grid {
    background-color: #161c26;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}


.label-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label-group span{
    color: var(--text);
}

.modal-form input, .modal-form select, .modal-form textarea {
    background: #334155a4;
    border: 1px solid var(--light-border-color);
    padding: 10px;
    color: var(--main-text-color);
    border-radius: 6px;
    outline: none;
}

.modal-form textarea{
    resize: none;
    height: 100px;
}



.gallery-section {
    margin-top: 1.5rem;
    background-color: #161c26;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 20px;
}

.gallery-section h4{
    font-size: 1.2rem;
    margin-bottom: 14px;
    color: var(--main-text-color);
}

.image-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

.image-preview-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.image-thumb {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px dashed #444;
}

.image-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-remove-img, .btn-remove-principal {
    position: absolute;
    top: 2px;
    right: 2px;
    background: var(--cancel-btn-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.btn-remove-principal{
    background-color: var(--table-color);
}


.btn-add-img {
    padding: 0 15px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn-save {
    padding: 10px 20px;
}

.btn-add-img, .btn-save{
    background: var(--main-btn-color);
    color: var(--main-text-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;

    transition: background-color 0.3s;
}


.btn-add-img:hover, .btn-save:hover{
    background-color: #1146ae;
}

.btn-cancel {
    background: transparent;
    color: #92a4c9;
    border: none;
    cursor: pointer;

    transition: color 0.3s;
}


.btn-cancel:hover {
    color: var(--cancel-btn-color);
}